@import "plus";
@import "colors";

/* Cardinal adjustments */

html {
	font-size: 19px;
}

body {
	color: white;
	font-family: "Merriweather Sans", sans-serif;
	line-height: 1.6;
}

.wrapper {
	max-width: 1140px;
}

.narrow {
	max-width: 960px;
}

.h0 {
	font-size: 2.369rem;
}

h4,
.h4 {
	font-size: 1.06rem;
}

@media only screen and (min-width: 600px) {
	.h0 {
		font-size: 4.2rem;
	}

	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

*,
*:after,
*:before {
	background-repeat: no-repeat;
	background-position: center;
}

a {
	color: inherit;
}

.button {
	border-radius: 4px;
}

/* page styles */

header .col {
	display: block;
}
@media only screen and (min-width: 960px) {
	header .col {
		display: table-cell;
	}
}

.logo {
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-position: 46% center;
}

.header {
	padding: 120px 0 100px 60px;

	background-image: url(../images/lettres-bleu.svg);
	background-size: 130%;
}

.video {
	background-image: url(../images/transition-01.svg);
	background-position: center bottom;
}

.elsewhere {
	max-width: 400px;

	a {
		position: relative;

		padding-bottom: 50%;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;

			transition: transform 0.3s;
		}

		&:before {
			background-image: linear-gradient( 135deg, transparent, transparent 49.9%, rgba(255,255,255,.2) 50%, rgba(255,255,255,.2) );

			transform-origin: bottom right;
		}

		&:hover:before {
			transform: scale(0);
		}

		&:hover:after {
			transform: scale(1.2);
		}
	}

	.twitter:after {
		background-image: url(../images/twitter.svg);
	}
	.facebook:after {
		background-image: url(../images/facebook.svg);
	}
	.blog:after {
		background-image: url(../images/blog.svg);
	}
	.newsletter:after {
		background-image: url(../images/newsletter.svg);
	}
}

@media only screen and (min-width: 600px) {
	.elsewhere {
		max-width: 800px;

		a {
			padding-bottom: 25%;
		}
	}
	#fixed {
		position: fixed;
		right: 0;

		z-index: 101;

		a {
			min-height: 40px;
			min-width: 40px;

			display: block;

			margin: 1px;

			background-repeat: no-repeat;
			background-position: center center;
			background-size: 25px;

		}

		.bg-black {
			background-color: lighten( $black, 10% );
		}

		.twitter {
			background-image: url(../images/twitter.svg);
			&:hover {
				background-color: $blue;
			}
		}
		.facebook {
			background-image: url(../images/facebook.svg);
			&:hover {
				background-color: $red;
			}
		}
		.blog {
			background-image: url(../images/blog.svg);
			&:hover {
				background-color: $yellow;
			}
		}
		.newsletter {
			background-image: url(../images/newsletter.svg);
			&:hover {
				background-color: $green;
			}
		}
	}
}



.why {
	background-image: url(../images/lettres-vert.svg);
	background-size: cover;

	p {
		font-weight: normal;
	}
}

.introducing {
	background-image: url(../images/transition-02.svg);
	background-position: center top;

	p {
		font-style: italic;
		line-height: inherit;

		span {
			font-weight: bold;
			font-style: normal;
			color: $black;
		}
	}
}

.summary {
	background-image: url(../images/interface.jpg);
	background-size: cover;

	.wrapper {
		max-width: 600px;
	}

	.wrapper > .row > .col {
		display: block;
	}

	.row {
		height: 100%;
	}

	.row .row .col {
		display: block;
		height: 100%;

		border: 10px solid transparent;
		background-clip: padding-box;
	}

	img {
		width: 100%;
	}

	h4 {
		margin: 0 !important;
		padding: 25px 0 15px;

		text-align: center !important;
	}

	p {
		margin-top: 0;
		padding: 0 30px 10px;

		text-align: center;
	}
}

@media only screen and (min-width: 600px) {
	.summary .row .row .col {
		display: table-cell;
	}
}

@media only screen and (min-width: 960px) {
	.summary .wrapper {
		max-width: 960px;
	}
	.summary > .wrapper > .row > .col {
		display: table-cell;
	}
}

.arrow-after {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		bottom: -30px;
		left: calc( 50% - 30px );
		z-index: 2;

		width: 0px;
		height: 0px;

		border-top: 30px solid $blue;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
	}
}

.crowdfunding {
	p:first-of-type {
		// small adjustment to get the sentence on 1 line
		font-size: 1.7rem;
	}

	p:last-of-type {
		font-weight: normal;
	}
}

.features {
	padding-top: 100px;
	padding-bottom: 60px;

	p {
		padding-top: 75%;

		background-position: top center;
		background-size: 100%;
	}

	.azglyphs {
		background-image: url(../images/features/features-01.svg);
	}

	.svgexport {
		background-image: url(../images/features/features-02.svg);
	}

	.presets {
		background-image: url(../images/features/features-03.svg);
	}

	.moreglyphs {
		background-image: url(../images/features/features-04.svg);
	}

	.allexports {
		background-image: url(../images/features/features-05.svg);
	}

	.alternates {
		background-image: url(../images/features/features-06.svg);
	}

	.split {
		background-image: url(../images/features/features-07.svg);
	}

	.independent {
		background-image: url(../images/features/features-08.svg);
	}

	.paragraph {
		background-image: url(../images/features/features-09.svg);
	}

	.manage {
		background-image: url(../images/features/features-10.svg);
	}

	.draggable {
		background-image: url(../images/features/features-11.svg);
	}

	.spacing {
		background-image: url(../images/features/features-12.svg);
	}

	.desktop {
		background-image: url(../images/features/features-13.svg);
	}

	.mobile {
		background-image: url(../images/features/features-14.svg);
	}
}

.beta:after {
	border-top-color: $beige;
}

.one-o:after {
	border-top-color: $green;
}

.email {
	input {
		margin-bottom: 5px;

		border-radius: 4px;

		&[type="text"] {
			border: none;
			background-color: $grey;
			color: $black;
		}
	}
}
@media only screen and (min-width: 960px) {
	.email {
		background-image: url(../images/mail.svg);
		background-position: center left;
		background-size: auto 40%;

		transition: background-position .6s;

		input {
			display: inline-block;

			&[type="text"] {
				width: 300px;
			}
		}
	}
}

#subscribed,
#donated {
	.thanks {
		display: none;

		opacity: 0;
		transition: opacity 1s;
	}

	&:target {
		form {
			display: none;
		}

		.thanks {
			display: block;
			opacity: 1;
		}
	}
}